server {
       listen 81;
       listen [::]:81;

       server_name devOpsOne;

       root /var/www/website;
       index index.html;

       location / {
               try_files $uri $uri/ =404;
       }
}

server {
       listen 86;
       listen [::]:86;

       server_name viKing;

       root /var/www/viking;
       index index.html;

       location / {
               try_files $uri $uri/ =404;
       }
}
